<strong>Hello, {{ owner }}</strong>
<p>There was another subscription to your meetup, see the details below:</p>
<p>
  <strong>Title: </strong>{{ title }} <br/>
  <strong>Description: </strong>{{ description }} <br/>
  <strong>User: </strong>{{ user }} <br/>
  <strong>Date and time: </strong>{{ date }} <br/>
</p>
